{% extends 'base.html.twig' %}
{% block body %}
<section id="showcase">
    <div class="bg-image"></div>
    <div class="content-wrap">
        <h1>Bienvenue sur le site ornithologique NAO</h1>
        <a href="#section-a" class="btn btn-default">En savoir plus</a>
    </div>
</section>
<main id="main">
    <!-- section a -->
    <section id="section-a">
        <div class="content-wrap">
            <h2 class="content-title">Qui sommes-nous</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing
                elit. Distinctio facere facilis illo in modi neque
                officia placeat quas reprehenderit rerum!
            </p>
        </div>
    </section>

    <!-- call to action -->
    <aside id="cta">
       <a href="#faire un don" class="btn btn-default">Faire un don</a>
    </aside>

    <!-- section b -->
    <section id="sectuion-b">
        <div class="box">
            <h2 class="content-title">Nous contacter</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                A aliquid distinctio dolorum esse ex non perferendis, quos
                repellat saepe veniam?
            </p>
            <p>contact@nao.test</p>
        </div>
    </section>
</main>

{% endblock %}